<nav>
  <ul>
    <!-- <li><a href="#email">Email Congress</a></li> -->
    <li><a href="#scoreboard">Scoreboard</a></li>
    <li><a href="#video">Video</a></li>
    <!-- <li><a href="#faq">FAQ</a></li> -->
  </ul>
</nav>

<section class="copy">

</section>

<div id="candidates" class="candidates"></div>

<a id="scoreboard" name="scoreboard"></a>
<%= react_component("ScorecardPolitical") %>

<!-- <div class="scoreboard">
  <h2>Political Scoreboard</h2>
  <div id="candidates"></div>
  <p>
    We can protect the Internet, but to do that,
    we need to know who is helping us and who is working against us. &nbsp;
    <a href="#our-scoring-system">Learn about our scoring system. </a>
  </p>
  <div id="scoreboard_data"></div>
</div> -->

<div class="action">
  <h3>Tweet Congress</h3>
  <p id="form-headline">
    <div id="tweet_text_container">
      <textarea id="tweet_text" maxlength="105">please vote to #SunsetThePatriotAct—it's time to rein in the surveillance state. www.decidethefuture.org</textarea>
      <div id="remaining">0</div>
    </div>
    <div class="selectors">
      <!--
        <span class="tweet_to">Tweet to:</span>
        <label for="just_state" class="sel" id="just_state_label">
          <input type="radio" name="tweet_to" id="just_state" checked />
          <span class="just">
            just
          </span>
          <span id="placeholder_state_name">
            your state
          </span>
          <span id="state_selector"></span>
        </label>
        <label for="EVERYONE" id="EVERYONE_label">
          <input type="radio" name="tweet_to" id="EVERYONE" />
            the whole Senate
        </label>
      -->
    </div>
    <div id="tweet-iframe-container"></div>
    <a class='tweet' href="<%= "https://twitter.com/intent/tweet?text=#{CGI.escape("please vote to #SunsetThePatriotAct—it's time to rein in the surveillance state. www.decidethefuture.org")}" %>">
      <%= image_tag "share/tw_white.png" %>Tweet your Senators
    </a>
    <!-- <a class="call" href="#" id="call_congress">Can't tweet? Call Congress...</a> -->
  </p>
  <!-- <script type="text/javascript">
      var url = TWEET_BLASTER_URL;
      var iframe = $c('iframe');
      iframe.id = 'tweet_blaster_frame';
      iframe.src = url + '?return='+encodeURIComponent(window.location.href.split("#")[0]);
      iframe.frameborder = 0;
      document.getElementById('tweet-iframe-container').appendChild(iframe);
  </script> -->

</div>


<section class="copy">
  <hr>
  <article id="video" class="expanded">
    <h1>
      <a href="#video" class="expand-me">
        Watch the Video
      </a>
    </h1>
    <time datetime="Tue, 15 Sep 2015 00:00:00 -0700"></time>
    <p class='just'>
      The US Government has turned the Internet into something it was never
      intended to be: a system for spying on us in our most private moments. By
      tapping Internet cables, undermining security standards, and getting our
      data from companies in secret, the National Security Agency has built the
      largest surveillance apparatus in history and is collecting information on
      most Internet users.
    </p>
    <div class="video-wrapper">
      <div class="video-container">
        <iframe src="//www.youtube.com/embed/2YsZoqwRnKE" frameborder="0" width="560" height="315"></iframe>
      </div>
    </div>
    <p>
      <!-- <a href="#top" class="btn">Contact Congress now!</a> -->
    </p>
  </article>

  <hr>
  <article id="big-surveillance-makes-more-vulnerable" class="expanded">
    <h1>
      <a href="#big-surveillance-makes-more-vulnerable" class="expand-me">
          Big surveillance makes us more vulnerable than ever.
      </a>
    </h1>
    <time datetime="Mon, 14 Sep 2015 00:00:00 -0700"></time>
    <p class='just'>
      Ad agencies mine info on our individual vulnerabilities to coerce
      consumer and political decisions, without our knowledge. Companies
      leak out our financial information, violate their own privacy agreements
      and still are offered immunity for sharing our customer data with the NSA.
      The government and police use counterterrorism resources to spy on our
      peaceful political protests. People get longer jail time depending on
      the zip code they live in, even for the same offense. And just imagine
      what else is happening without our knowledge.
    </p>
    <p class='just'>
      The Internet is integrated into every part of our lives—what we allow to
      happen with our data will shape the future of our society. We're now on
      the brink of making big decisions about the kinds of power governments and
      monopolies have to use this data against our own interests. And, they're
      moving fast—the US, Britain, France, Singapore, Iran, China, and more,
      are all moving to pass expansive surveillance laws and sweetening deals
      for cooperating tech companies (like with full corporate immunity from
      our laws). We have to draw the line in the sand now.
    </p>
  </article>

  <hr>
  <%= react_component('ScoringSystem') %>

</section>

<!-- <div class="action_bar">
    <button class="social facebook">Share this</button>
    <button class="social twitter">Tweet this</button>

    <button class="donate" onclick="util.donate()">Donate</button>

    <div class="call">Call Congress now: <strong>1-985-222-CISA</strong></div>

</div>
 -->


<footer id="fftf-footer">
  <a href="https://www.fightforthefuture.org" target="_blank">
    <%= image_tag "fftf-logo.png", class: "footer-logo small" %>
  </a>
  <a href="http://www.restorethe4th.com/" target="_blank">
    <%= image_tag "restore4th-logo.png", class: "footer-logo" %>
  </a>
  <hr/>
  <div class="share">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fstark-inlet-79454.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
      <button class="social facebook">Share this</button>
    </a>
    <a class='tweet' href="<%= "https://twitter.com/intent/tweet?text=#{CGI.escape("We can protect the Internet, but to do that, we need to know who is helping us and who is working against us. www.decidethefuture.org")}" %>">
      <button class="social twitter">Tweet this</button>
    </a>
  </div>
  <div class="copy">
    <p>For press inquiries, please contact us at:</p>
    <p>
      <a href="tel://1-978-852-6457" class="text">978-852-6457</a> <em>or</em> <a href="mailto:press@fightforthefuture.org" class="text">press@fightforthefuture.org</a>
    </p>
    <p>
      <a href="tel://1-781-258-2936" class="text">781-258-2936</a> <em>or</em> <a href="mailto:chair@restorethe4th.com" class="text">chair@restorethe4th.com</a>
    </p>
    <p>
      <small>
          All other inquiries, contact <a href="mailto:team@fightforthefuture.org" class="text">team@fightforthefuture.org</a>.
      </small>
    </p>
  </div>
</footer>
